@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
}

/*Header*/

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/emilio-garcia-AWdCgDDedH0-unsplash.jpg");
    height: 50vh;
    background-size: cover;
    background-position: top;
    position: relative;
}

main {
    background-image: url("../img/jasper-garratt-eOTjYvDpvDA-unsplash.jpg");
    background-position: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

main>div {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    padding: 25px;
}

.logo {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 150px;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    position: absolute;
    top: 35px;
    left: 200px;
    font-size: 50px;
    color: white;
}

nav {
    position: absolute;
    top: 105px;
    left: 210px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    margin-right: 10px;
    color: white;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgba(28, 76, 92, 0.4);
    color: white;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5px 0;
    font-size: 35px;
    background-color: #033949;
    width: 100%;
    text-align: center;
}

.current {
    text-decoration: underline;
}

/*Home*/

#main-index {
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}
#main-index>div {
    margin: 40px 80px 80px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    width: 40px;
}

.dates {
    margin: 0 10px;
    color: rgba(28, 76, 92);
}

#main-index>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.places {
    margin-bottom: 20px;
}

/*about*/

#main-about, #main-contact {
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}

#main-about #about {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto;
}

#main-about #about>div {
    padding: 5px 15px;
    margin: 10px 10px;
    width: 300px;
}

#main-about h3 {
    color: rgba(28, 76, 92);
    margin-bottom: 20px;
    font-size: 25px;
}

#main-about p {
    margin-top: 5px;
    margin-bottom: 25px;
}

/*Gallery*/

#main-gallery {
    height: 160vh;
}

#main-gallery>div {
    background-image: none;
    padding-top: 40px ;
}

#container>div img {
    width: 100%;
    height: 100%;
    border: 3px solid #2aaf18;
    border-radius: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 160px);
    grid-gap: 15px;
    justify-content: center;
}

#container>div img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}

#container>div:nth-child(1) {
    grid-column: span 2;
}

#container>div:nth-child(2) {
    grid-column: span 2;
}

#container>div:nth-child(3) {
    grid-column: span 2;
}

#container>div:nth-child(6) {
    grid-row: span 2;
}

#container>div:nth-child(9) {
    grid-column: 2/span 2;
    grid-row: 3;
}

#container>div:nth-child(10) {
    grid-column: span 2;
}

#container>div:nth-child(8) {
    grid-column: span 2;
}

#container>div:nth-child(12) {
    grid-row: 4;
    grid-column: 4;
}

#container>div:nth-child(11) {
    grid-column: span 2;
}

/*Rules*/

#main-rules {
    display: flex;
    justify-content: center;
}

#main-rules>div {
    width: 70%;
    padding: 35px 80px;
    margin: 30px 0;
    text-align: justify;
}

#main-rules div>p {
    margin-bottom: 10px;
    font-weight: bold;
}

li {
    margin-left: 30px;
    margin-top: 10px;
}

dt {
    font-weight: bold;
    margin: 20px 0;
    color: #033949;
}

/*Game Schedule*/

#main-game {
    display: flex;
    justify-content: center;
}

#main-game>div {
    margin: 30px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

thead {
    background-color: rgba(28, 76, 92);
    color: white;
}

.text1 {
    margin: 10px 0 10px 30px;
}

.text1 p {
    margin: 10px;
}

.text2 {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.text2>p {
    padding: 15px 0 15px 90px;
}

.text2 div {
    display: flex;
    width: 80vw;
    justify-content: space-around;
}

.text2 div>p {
    padding: 10px 50px;
    background-color: #15777ea6;
    width: 100%;
}

.double-line>tr:nth-child(1), .double-line>tr:nth-child(2) {
    background-color: #57e644b7;
}

.double-line>tr:nth-child(3), .double-line>tr:nth-child(4) {
    background-color: #15777ea6;
}

.double-line>tr:nth-child(5), .double-line>tr:nth-child(6) {
    background-color: #57e644b7;
}

.double-line>tr:nth-child(7), .double-line>tr:nth-child(8) {
    background-color: #15777ea6;
}

.double-line>tr:nth-child(9), .double-line>tr:nth-child(10) {
    background-color: #57e644b7;
}

.one-line>tr:nth-child(1), .one-line>tr:nth-child(3), .one-line>tr:nth-child(5) {
    background-color: #57e644b7;
}

.one-line>tr:nth-child(2), .one-line>tr:nth-child(4), .one-line>tr:nth-child(6) {
    background-color: #15777ea6;
}

/*Contact*/

#main-contact >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 80px 80px;
    height: 45vh;
}

#main-contact p {
    margin: 15px
}

#email {
    width: 50px;
}

/* Registration form */

#main-form {
    display: flex;
    justify-content: center;
}

#main-form>div {
    margin: 30px 0;
}

form>fieldset{
padding: 20px;
}

fieldset>div >label {
    margin-left: 30px;
   margin-top: 50px;
}

fieldset div input, 
#permission input, select{
    display: flex;
    width: 55vw;
    margin-left: 70px;
    border: 0;
    background-color: #03394991;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 7px;
}

input{
    margin-bottom: 15px;
    font-size: 16px;
}
fieldset {
    display: flex;
    width: 70vw;
    border: 1px solid  black;
    margin: 10px;
    border-radius: 10px;
  
}
fieldset> fieldset{
    width: 60vw;
    display: flex;
    padding: 20px;
   margin: 15px auto;
}
fieldset> fieldset>fieldset{
padding: 20px;
}
#gender{
    display: inline;
    padding-left: 30px;
}
#gender input{
    margin: 0 5px 0 20px;
}
#grade{
    display: block;
    margin-left: 70px;
    width: 60vw;
    margin-bottom: 15px;
}
legend{
    background-color: #033949;
    color:white;
    padding: 10px;
    margin-left: 5px;
    border-radius: 30px;
}
#permission{
    text-align: justify;
    width: 55vw;
}
#permission p { 
    text-indent: 3em;
    margin-bottom: 20px;
}

#submit {
    display: flex;
    background-color: #033949;
    padding: 15px 20px;
    border-radius: 10px;
    align-items: center;
    margin: 20px auto;
    color: white;
    font-weight: 700;
    border: none;
    margin: 15px auto;
}
footer{
    background-color: #033949;
    text-align: center;
    padding: 8px;
}
footer a{
    color: white;
}
i{
    font-size: 20px;
    margin: 0 15px;
}